# 1. Ignore absolutely everything in the home directory by default
*
**/

# 2. Track the .gitignore file itself
!.gitignore

# 3. Track only specific Gemini files
!.gemini/
!.gemini/policies
!.gemini/settings.json
!.gemini/hooks/
!.gemini/hooks/**

# 4. Track only specific Claude files
!.claude/
!.claude/settings.json
!.claude/statusline-command.sh
!.claude/hooks/
!.claude/hooks/**

# 5. Track human_tools scripts
!human_tools/
!human_tools/**
